@font-face {
    font-family: Stolzl;
    src: 
        url(../static/fonts/Stolzl-Light.woff) format('woff'),
        url(../static/fonts/Stolzl-Light.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Stolzl;
    src: 
        url(../static/fonts/Stolzl-Thin.ttf);
    font-weight: 300;
    font-style: normal;
}

*{box-sizing: border-box;}
body {
    background-color: #4C1DD2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* стили для шапки сайта */
header {
    color: #FFFFFF;
    margin: 50px 15px;
    font-family: Stolzl, Arial, Helvetica, sans-serif;
}

.b-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-nav, .b-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0px 10px;
    flex-wrap: wrap;
}

.b-menu__link {
    text-decoration: none;
    padding: 19px;
    color: #FFFFFF;
}

.b-menu__link:hover, .b-contact-whatsapp:hover {
    background-color: blue;
}

.b-contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.b-contact__tel, .b-contact-whatsapp {
    text-decoration: none;
    color: #FFFFFF;
    margin: 10px 15px;
}
.b-contact__tel:hover {
    font-weight: normal;
}

.b-contact__tel {
    font-size: 18px;
    font-weight: 300;
}

.b-contact-whatsapp {
    display: flex;
    background-color: #4F15F3;
    padding: 0px 25px;
    border-radius: 9px;
    
}

.b-contact-whatsapp__icon {
    padding-right: 16px;
}

.b-menu__mob, .logo-mob {
    max-width: 50px;
    display: none;
}


.mob .b-menu__link{
    display: block;
    flex-direction: column;
    margin: 15px;
}

.b-menu.mob {
    display: block;
}


/* основная часть */
.b-main {
    margin-left: 70px;
    display: flex;

}

.b-main-content {
    color: #FFFFFF;
    margin: 50px 15px;
    font-family: Stolzl, Arial, Helvetica, sans-serif;
}

/* левая часть */

.b-content {
    margin-top: 100px;
}

.b-content__text h1 {
    font-size: 48px;
    line-height: 72px;
}

.b-content__text h1 span {
    font-weight: 300;
}

.b-content__text p {
    font-weight: 300;
    font-size: 24px;
}

.b-form {
    display: flex;
    flex-wrap: nowrap;
}

.b-form__input {
    border-style: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 300;
}

.b-form__tel {
    padding: 15px 15px 15px 15px;
    margin-right: 21px;
}
.b-form__tel::placeholder {
    color: #BCBCBC;
    font-weight: 300;
}

.b-form__submit {
    padding: 15px 45px;
    background-color: #F86161;
    color: #FFFFFF;
}

/* правая часть с иллюстрациями */
.b-illustration {
    position: relative;
}
.b-illustration img, .b-illustration-lead1, .b-illustration-lead2 {
    position: absolute;
}
.b-illustration__item4 {
    max-width: 128px;
    z-index: 3;
    left: 54px;
    top: 469px;
}

.b-illustration__item1 {
    z-index: 2;
    top: 0;
    left: 0;
    max-width: 527px;
}

.b-illustration__item3 {
    z-index: -1;
    top: 52px;
    left: 452px;
    max-width: 109px;
}

.b-illustration__item2 {
    z-index: 0;
    top: 82px;
    left: 66px;
    max-width: 445px;
}

.b-illustration-lead1 {
    background-color: #121B30;
    color: #FFFFFF;
    border-radius: 21px;
    padding: 30px;
    top: 44px;
    text-align: center;
    max-width: 159px;
    z-index: 5;
}

.b-illustration-lead2 {
    width: 288px;
    display: flex;
    max-width: 288px;
    background-color:#121B30;
    color: #FFFFFF;
    border-radius: 21px;
    padding: 16px 20px;
    left: 392px;
    top: 300px;
    z-index: 4;
}

.b-illustration-lead1 img, .b-illustration-lead2 img{
    position: static;
}

.b-illustration-lead2__img {
    margin-right: 20px;
}

.b-illustration-lead1__text, .b-illustration-lead2__text {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
}

.b-illustration-lead1__text span, .b-illustration-lead2__text span{
    font-size: 22px;
    font-weight: normal;
    line-height: 1.2em;
}

.b-illustration__graph {
    z-index: 5;
    left: 249px;
    top: 481px;
    max-width: 326px;
}

/* фиксированные элементы фона */
.background-elem {
    position: fixed;
}
.background-elem__1 {
    left: -110px;
    top: 172px;
    z-index: -999;
}
.background-elem__2 {
    left: 939px;
    top: 223px;
    z-index: -998;
}

.background-elem__3 {
    left: 162px;
    top: 172px;
    z-index: -997;
}

.background-elem__4 {
    left: 756px;
    top: 241px;
    z-index: -996;
}

.background-elem__5 {
    left: 978px;
    top: 274px;
    z-index: -995;
}

.background-elem__6 {
    left: 1012px;
    top: 449px;
    z-index: -994;
}

/* адаптив */

@media screen and (max-width: 1199px) {
    .container {
        max-width: 991px;
    }
    .b-header {
        display: block;
    }
    .b-contact, .b-nav {
        justify-content: center;
    }
    .b-main {
        margin-left: 0px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        max-width: 768px;
    }
    .b-content {
        margin-top: 0px;
        margin: auto;
        text-align: center;
    }
    .b-main {
        display: block;
    }
    .b-main-content {
        display: flex;
        flex-direction: column;
    }
    .b-illustration {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 100%;
    }
    .b-menu__link, .b-header__logo {
        display: none;
    }
    .b-menu__mob, .logo-mob {
        display: block;
    }
    .b-nav {
        justify-content: space-between;
    }
    .b-illustration-lead2, .b-illustration-lead1 {
        left: 0px;
    }
    .b-illustration__graph, .b-illustration__item1, .b-illustration__item2, .b-illustration__item3, .b-illustration__item4 {
        left: 0;
        right: 0;
        margin: auto;
    }
    .b-form {
        flex-direction: column;
        justify-content: center;
    }
    .b-form__input {
        margin: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 550px) {
    .b-illustration__item2 {
        max-width: 80%;
        top: 280px;
    }
    .b-illustration__item1 {
        max-width: 100%;
        top: 200px;
    }

    .b-illustration__item3, .b-illustration__item4 {
        display: none;
    }
    .b-illustration-lead1, .b-illustration-lead2 {
        position: static;
        max-width: 100%;
        margin-bottom: 10px;
        width: 550px;
        display: flex;
        padding: 10px 15px;
        text-align: left;
    }
    .b-illustration__graph {
        top: 500px;
    }
    .b-illustration-lead1__img {
        margin-right: 20px;
    }
}



